@import "tailwindcss";


@layer base{

body {
  overflow-x: hidden;
}



@font-face {
font-family: "textfont";
src: url("./assets/BebasNeue-Regular.woff") format("truetype");
font-display: block;
font-style: normal;

}

@font-face {
font-family: "hindifont";
src: url("./assets/Khand-SemiBold.woff") format("truetype");
font-display: block;
font-style: normal;

}

@font-face {
font-family: "btntext";
src: url("../public/fonts/aBlackLives.otf") format("truetype");
font-display: block;
font-style: normal;

}

@font-face {
font-family: "Second";
src: url("../public/fonts/ponte.ttf") format("truetype");

}




.text{
    font-family: "textfont";
}

.button{
    font-family: 'GT Walsheim Trial';
    
    
}

.hindi {
    font-family: "hindifont";
}

.word{
    font-family: "Second";
}

.lamb{
    font-family: "Second";
    
}

.btn{
    font-family:"btntext" ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.u{
    font-family:"Second";
}

}